workflows/my_bot.json
{
  "name": "My Agent Bot",
  "active": false,
  "versionId": 1,
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "7c6dee56-c563-4718-b2b4-82a45b47c23f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [-720, -80],
      "webhookId": "d29e6177-ada9-4754-8b3e-d94e70886f36",
      "credentials": {
        "telegramApi": {
          "id": "A8kuN0XDs5OUQTrD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "eeef7ae4-d627-4d77-b27e-b8a227788afd",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [640, -176],
      "webhookId": "583256fe-fbe9-42e7-ac02-2650f5fc2132",
      "credentials": {
        "telegramApi": {
          "id": "A8kuN0XDs5OUQTrD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"photo\"].pop()[\"file_id\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-48, -160],
      "id": "656c92c1-06c0-4fc4-95c9-2e3eb06935f5",
      "name": "Get a file",
      "webhookId": "13d88a67-e842-484a-8f91-ed21289a67e2",
      "credentials": {
        "telegramApi": {
          "id": "A8kuN0XDs5OUQTrD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $('Telegram Trigger').item.json.message.text || $('Telegram Trigger').item.json.message.caption || \"Проанализируй фото\" }}",
        "options": {
          "systemMessage": "Ты — опытный менеджер по имени Ерлан. Ты общаешься вежливо, по-деловому, но с легким дружелюбным оттенком.\n\nТВОЯ ЛОГИКА РАБОТЫ:\n\nЕсли пользователь просто пишет текст (без фото): Отвечай как менеджер, консультируй, но мягко напоминай, что для точной оценки стоимости разработки сайта тебе нужен скриншот его макета или текущего дизайна.\n\nЕсли пришло фото: > * Внимательно проанализируй изображение.\n\nПересчитай количество логических визуальных блоков (шапка, футер, карточки товаров, формы и т.д.).\n\nОбязательно назови пользователю количество блоков, которое ты увидел.\n\nТОЛЬКО ПОСЛЕ ЭТОГО используй инструмент get_web_price, передав туда количество блоков, чтобы получить расчет.\n\nПРАВИЛО ИСПОЛЬЗОВАНИЯ ИНСТРУМЕНТА: Никогда не вызывай get_web_price, если не видишь скриншота. Если пользователь спрашивает \"сколько стоит 5 блоков\" текстом — ты можешь посчитать сам или вызвать инструмент, но приоритет всегда на анализе изображений.",
          "maxIterations": 5,
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [240, -80],
      "id": "91346406-1069-4dd4-a835-de527074abf7",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [288, 160],
      "id": "67672cf7-64ca-41e2-9ba1-e603a9da9320",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd80a52c-da91-459e-a53d-0073fe156afc",
              "leftValue": "={{ !!$json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "e3eaf77b-15c0-49c3-8fa4-ced7b6f7c085",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-336, -80],
      "id": "709feb60-8dde-44ec-acb5-ef00d4f0c9ab",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").first().json.message.from.id }}",
        "text": "Ну ты и Dodig, чё то не так явно, смотри внимательно",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [752, 64],
      "id": "3208f4e2-3988-4dc9-bee7-303f1609d6de",
      "name": "Send a text message",
      "webhookId": "3b518c9c-e2fa-4be2-8664-3d825ad80fb5",
      "credentials": {
        "telegramApi": {
          "id": "A8kuN0XDs5OUQTrD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Калькулятор для подсчета",
        "jsCode": "return {\n  name: \"get_web_price\",\n  description: \"Используй для расчета цены.\",\n  execute: (blocks, discount = 0) => {\n    // Теперь, когда схема пропускает строки, мы принудительно делаем их числами\n    const b = Number(blocks);\n    const d = Number(discount);\n    \n    const pricePerBlock = 5000;\n    const total = b * pricePerBlock;\n    const finalPrice = total * (1 - d / 100);\n    \n    return { \n      base_price: total,\n      discount_applied: d + \"%\",\n      final_price: finalPrice \n    };\n  }\n};",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"blocks\": {\n      \"type\": \"string\",\n      \"description\": \"Количество блоков (передай как число или строку)\"\n    },\n    \"discount\": {\n      \"type\": \"string\",\n      \"description\": \"Процент скидки (передай как число или строку)\"\n    }\n  },\n  \"required\": [\"blocks\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [448, 160],
      "id": "6d3a4b15-818f-4c71-a9cc-eee83e7e1700",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "model": "=gemma3:27b-it-qat",
        "options": {
          "temperature": "={{ 0.7 }}",
          "lowVram": true,
          "numCtx": 2048,
          "numThread": 8,
          "repeatPenalty": "={{ 1.1 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [144, 160],
      "id": "c68945de-7402-42dc-a716-6cd0de158098",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ollama_local_id",
          "name": "Local Ollama"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-768, -560],
      "id": "e0ec909f-b95d-4f7d-81f6-96c05dcf0f0c",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "8d107733da58c5ac536259d4c4f14e1379c07b2be0b6c2590a5195547cfd8a12",
    "templateCredsSetupCompleted": true
  }
}
